@using Synergy_Test.Function
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@inject IHttpContextAccessor Accessor;
@model LoginModel

@{
    var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
    var username = HttpContextAccessor.HttpContext.Session.GetString("Username");
    var profilephoto = HttpContextAccessor.HttpContext.Session.GetString("ProfilePhoto");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="utf-8" http-equiv="encoding">
    <title>MyQuery</title>

    <!--Bootstrap 4-->
    <link rel="stylesheet" href="~/lib/bootstrap-4/css/bootstrap.min.css" />

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- Admin LTE-->
    <link href="~/lib/adminlte/dist/css/adminlte.css" rel="stylesheet" />
    <link href="~/lib/adminlte/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />

    <!--site css-->
    <link href="~/css/site.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <style>
        .navbar-brand img {
            width: 180px;
            height: auto;
        }

        body {
            margin: 0;
            font-family: "Lato", sans-serif;
        }
    </style>
</head>
<body class="sidebar-mini layout-fixed layout-navbar-fixed" style="padding: 0 !important; margin: 0 !important">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand border-bottom navbar-light bg-light">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="mx-auto">
                    <h3>Apps</h3>
                </li>
            </ul>
        </nav>


        <aside class="main-sidebar sidebar-dark-primary elevation-5">
            <a class="brand-link bg-light">
                <img src="~/images/Icon.png" alt="Logo"
                     style="width: 100px;">
                <span class="brand-text font-weight-light">Dashboard</span>
            </a>
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/images/profile/@profilephoto" class="img-circle elevation-2 bg-white" alt="User Image">
                    </div>
                    <div class="info">
                        <a class="d-block">Welcome, @HttpContextAccessor.HttpContext.Session.GetString("FirstName") @HttpContextAccessor.HttpContext.Session.GetString("LastName")</a>
                        <div>
                            <a class="d-block">Role: @HttpContextAccessor.HttpContext.Session.GetString("Role")</a>
                        </div>
                    </div>
                   
                </div>
                <nav class="mt-3">

                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                               

                                @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "User")
                                {
                                <li class="nav-item ">
                                    <a href="@Url.Action("Index", "Dashboard")" class="nav-link @Html.IsActive("Dashboard", "Index")">
                                        <i class="nav-icon fas fa-pen"></i>
                                        <p>
                                            Dashboard
                                        </p>
                                    </a>
                                </li>


                                <li class="nav-item ">
                                    <a href="@Url.Action("SignOut", "Login")" class="nav-link">
                                        <i class="nav-icon fas fa-sign-out-alt"></i>
                                        <p>
                                            Log Out
                                        </p>
                                    </a>
                                </li>


                                }
                                else if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin")
                                {
                                    <li class="nav-item ">
                                        <a href="@Url.Action("IndexAdmin", "Dashboard")" class="nav-link @Html.IsActive("Dashboard", "IndexAdmin")">
                                            <i class="nav-icon fas fa-pen"></i>
                                            <p>
                                                Admin Dashboard
                                            </p>
                                        </a>
                                    </li>


                                    <li class="nav-item ">
                                        <a href="@Url.Action("SignOut", "Login")" class="nav-link">
                                            <i class="nav-icon fas fa-sign-out-alt"></i>
                                            <p>
                                                Log Out
                                            </p>
                                        </a>
                                    </li>


                                }
                                else
                                {
                                    <script>
                                        window.location.href = "@Url.Action("Index", "Login")";
                                    </script>
                                }
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <strong id="copyright"></strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0
            </div>
        </footer>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/adminlte/plugins/moment/moment.min.js"></script>
    <script src="~/lib/adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/adminlte/dist/js/adminlte.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/adminlte/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
        function copyrightYear() {
            var d = new Date();
            var y = d.getFullYear();
            document.getElementById("copyright").innerHTML = 'Copyright &copy; ' + y + ' Muhammad Ruffian Azzahri';
        }

        copyrightYear();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>